<article class="blog-post">
    <h2 class="blog-post-title"><%= article.title %></h2>
    <p class="blog-post-meta">
        <%= render "article_detail", article: article %>
    </p>

    <p><%= truncate(article.body, length: 150) %></p>

    <%= link_to t('articles.continue_reading'),
        article_path(article, locale: I18n.locale),
        class: "fw-bold" %>
    <div class="btn-group" role="group" >
        <%= link_to "Edit", edit_article_path(article, locale: I18n.locale), class: "btn btn-primary" if policy(article).update?%>
        <%= button_to "Destroy", article_path(article, locale: I18n.locale), method: :delete, data: { "turbo-confirm": "Are you sure?" }, class: "btn btn-danger" if policy(article).destroy?%>
    </div>
    
</article>